# Python recap

Although the design of an IPython Notebook encourages the development of code in small fragments, this does not mean that each cell is independent of all the other cells. Rather, the Notebook is an interface to a current IPython shell, and as such has access to the current state of that shell.

In [1]:
txt = "Hello World"

If you executed the first code cell above, you will have set the value of the `txt` variable. This means we can access its value again in other cells; you will see this if you run the next cell. (If you changed the text away from *Hello World*, then your last replacement message should be displayed):

In [2]:
print(txt)

Hello World

So, IPython uses a *global* naming space - named things, like variables (`txt` above), are available in all the code cells within the Notebook.

## Some Python basics

Sometimes it can be useful to build up quite rich messages using the contents of several variables. One way of achieving this is to print a string that contains some placeholder variables, and then insert appropriate values into those placeholders.

By inspection - and running - of the following code, can you see how it works? See if you can change the message that is displayed, either by editing the cell directly, creating a new cell and copying the code, or selecting the cell and copying and pasting it.  Try creating a new variable with a new string value, and adding that into the printed message.

In [3]:
print( "This message includes the earlier one: '{0}'. {1}?".format(txt, "See what I did there") )

This message includes the earlier one: 'Hello World'. See what I did there?

In [9]:
mytxt = "Kuma is refreshing his Python"
print("What are you doing?{0}'{1}!'".format("\n", mytxt))

What are you doing?
'Kuma is refreshing his Python!'

We can also use the `format` statement to display numbers - and the result of arithmetic...

In [10]:
a = 12

result = "The sum of {0} and {1} is {2}. {3}".format( 7, a, a+7, "Magic!" )

print(result)

print("print() displays output lines. We can also simply output the value of the last item in the cell without using print...")

result

The sum of 7 and 12 is 19. Magic!
print() displays output lines. We can also simply output the value of the last item in the cell without using print...

'The sum of 7 and 12 is 19. Magic!'

### Python types
Python supports different *types* of object:

In [11]:
# A string: str.
txt  ="This is a string"
print(txt)

# Strip leading and trailing white space from a string.
print( "this, "+"that   ".strip() +"the other")

# Typically, the sorts of quotation mark you use don't matter.
# If you are careful about the nesting, you can include one sort of quote inside another.
print( "this "+'that, ' +'"the other"')

# An integer: int.
integer = 7
print(integer)

# A boolean value (True or False): bool.
flag = False
otherFlag = bool(1)
print(flag, otherFlag)

# A floating-point number: float.
floatingPoint = 3.5
print(floatingPoint)

# Note that Python will automatically cast some datatypes when required 
#    (here an integer value and floating-point value are added together, 
#     the result is a floating-point value).
integer + floatingPoint

This is a string
this, thatthe other
this that, "the other"
7
False True
3.5

10.5

So what happens if you run the previous cell? The 'output' of the last line of code in the last cell is the one that is displayed.

We can also refer to that value returned from the last run cell using a specially defined variable: _

Run the previous cell and then the following one.

In [12]:
_

10.5

What do you think the following cell will do? Try running it to see.

In [13]:
_ * 10

105.0

## Activity
To get a feel for how different types of object can be combined, create a new code cell below and try some of the following operations by copying them one at a time into a code cell and then running that cell. Test your understanding by trying to predict the output each statement will give.

Remember, only the output of the last line of code in the cell is displayed. 

Don't worry if you get an error message, you won't break the Notebook - it just means the two types don't work with the operator you provided. You might also find that the error message helps you debug what is wrong with your statement.

```
1 * 5
1.0 * 5
'Three' + 'plus' + '4'
'Three' + 'plus' + 4
"Three" + ' plus ' + str(4)
int(3.78)
4 + int('5'+'6')
True
not True
bool(0)
None
not None
```

In [1]:
1 * 5

5

In [2]:
1.0 * 5

5.0

In [3]:
'Three' + 'plus' + '4'

'Threeplus4'

In [4]:
'Three' + 'plus' + 4

TypeError: Can't convert 'int' object to str implicitly

In [5]:
'Three' + 'plus' + str(4)

'Threeplus4'

In [6]:
int(3.78)

3

In [7]:
4 + int('5'+'6')

60

In [8]:
True

True

In [9]:
not True

False

In [10]:
bool(0)

False

In [11]:
bool(-1)

True

In [12]:
bool(4)

True

In [13]:
bool(2)

True

In [14]:
bool(0.5)

True

In [15]:
None

In [16]:
not None

True

In [17]:
NaN

NameError: name 'NaN' is not defined

In [18]:
type(None)

NoneType

## What next?

If you are working through this Notebook as part of an inline exercise, return to the module materials now.

If you are working through this set of Notebooks as a whole, move on to the next step in the bootcamp: `01.3 Basic python data structures`.