# Update (modification), deletion and addition (insertion) anomalies

In this Notebook you will explore the problems associated with unnormalised data and how these problems are resolved by 
normalising the data.

We will compare the unnormalised and normalised forms of the book purchases data (see Activity 10.2):
* unnormalised data - `books_purchased` table
* normalised data - `orders`, `order_item`, `book` and `customer` tables.

Enable access to the PostgreSQL database engine via [SQL Cell Magic](https://pypi.python.org/pypi/ipython-sql).

In [ ]:
%load_ext sql
%sql postgresql://test:test@localhost:5432/tm351test

Define and populate tables.

In [ ]:
%%sql
-- unnormalised data
DROP TABLE IF EXISTS books_purchased CASCADE;

CREATE TABLE books_purchased (
 invoice_no CHAR(8) NOT NULL,
 date DATE NOT NULL,
 customer_no CHAR(6) NOT NULL,
 customer_name VARCHAR(25) NOT NULL,
 isbn CHAR(14) NOT NULL,
 title VARCHAR(100) NOT NULL,
 quantity INTEGER NOT NULL,
 cost DECIMAL(5,2) NOT NULL,
 PRIMARY KEY (invoice_no, isbn)
);

-- normalised data
DROP TABLE IF EXISTS order_item;
DROP TABLE IF EXISTS orders;
DROP TABLE IF EXISTS book;
DROP TABLE IF EXISTS customer;

CREATE TABLE book (
 isbn CHAR(14) NOT NULL,
 title VARCHAR(100) NOT NULL,
 cost DECIMAL(5,2) NOT NULL,
 PRIMARY KEY (isbn)
);

CREATE TABLE customer (
 customer_no CHAR(6) NOT NULL,
 customer_name VARCHAR(25) NOT NULL,
 PRIMARY KEY (customer_no)
);

-- Note: as ORDER is a reserved word in SQL, calling the table 'orders' instead.
CREATE TABLE orders (
 invoice_no CHAR(8) NOT NULL,
 date DATE NOT NULL,
 customer_no CHAR(6) NOT NULL,
 PRIMARY KEY (invoice_no),
 FOREIGN KEY (customer_no) REFERENCES customer(customer_no)
);

CREATE TABLE order_item (
 invoice_no CHAR(8) NOT NULL,
 isbn CHAR(14) NOT NULL,
 quantity INTEGER NOT NULL,
 PRIMARY KEY (invoice_no, isbn),
 FOREIGN KEY (invoice_no) REFERENCES orders(invoice_no),
 FOREIGN KEY (isbn) REFERENCES book(isbn)
);

Populate the tables from CSV files using [Psycopg](http://initd.org/psycopg/docs/index.html), 
a PostgreSQL database adapter for Python.

In [3]:
import psycopg2 as pg
import pandas as pd
import pandas.io.sql as psqlg

In [4]:
# open a connection to the PostgreSQL database tm351test
conn = pg.connect(dbname='tm351test', host='localhost', user='test', password='test', port=5432)
# create a cursor
c = conn.cursor()

# populate 'books_purchased' table
io = open('data/books_purchased.dat', 'r')
c.copy_from(io, 'books_purchased')
io.close()
c.execute("COMMIT")

# populate 'customer' table
io = open('data/customer.dat', 'r')
c.copy_from(io, 'customer')
io.close()
conn.commit()

# populate 'book' table
io = open('data/book.dat', 'r')
c.copy_from(io, 'book')
io.close()
conn.commit()

# populate 'orders' table
io = open('data/orders.dat', 'r')
c.copy_from(io, 'orders')
io.close()
conn.commit()

# populate 'order_item' table
io = open('data/order_item.dat', 'r')
c.copy_from(io, 'order_item')
io.close()
conn.commit()

# close cursor
c.close()
# close database connection
conn.close()

In [ ]:
%%sql
SELECT *
FROM books_purchased
ORDER BY invoice_no, isbn;

In [ ]:
%%sql
SELECT *
FROM customer
ORDER BY customer_no;

In [ ]:
%%sql
SELECT *
FROM book
ORDER BY isbn;

In [ ]:
%%sql
SELECT *
FROM orders
ORDER BY invoice_no;

In [ ]:
%%sql
SELECT *
FROM order_item
ORDER BY invoice_no, isbn;

## Activity

Give example SQL `UPDATE`, `DELETE` and `INSERT` statements that will result in an update (modification), deletion and addition (insertion) anomaly respectively with the `books_purchased` table because the data are unnormalised.

In [ ]:
# Try your code here

Solutions can be found in the `10.3.soln Update (modification), deletion and addition (insertion) anomalies` Notebook, 
but please DO attempt the activity yourself before looking at these solutions.

##Â Summary
In this Notebook you have explored the problems associated with unnormalised data and how these problems are resolved 
by normalising the data.

## What next?
If you are working through this Notebook as part of an inline exercise, return to the module materials now.

If you are working through this set of Notebooks as a whole, move on to `10.4 Normalised v. unnormalised data`.