In [3]:
import pandas as pd
import matplotlib as plot
import chardet

In [4]:

# Import the two datasets
!ls 'data'

apples_year.csv   fruitveg.csv	      orchfruit_ap&pr_30may13.csv
billionaires.csv  fruitveg_dcs-2.csv

In [5]:
!head 'data/fruitveg.csv'

In [6]:
testfile= open('data/fruitveg.csv','rb').read()
chardet.detect(testfile)

{'confidence': 1.0, 'encoding': 'UTF-8-SIG'}

In [24]:
fruitveg_df = pd.read_csv('data/fruitveg.csv', sep='\t')
fruitveg_df.rename(columns={'2004': 'Fruit','Unnamed: 1': 'Variety'}, inplace=True)
fruitveg_df[:5]

,Fruit,Variety,Quality,Units,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,FRUIT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Blackberries,All Varieties,-,£/kg,NaN,NaN,NaN,NaN,NaN,NaN,3.26,3.24,3.61,5.06,NaN,NaN
2,Blackcurrants,All Varieties,-,£/kg,NaN,NaN,NaN,NaN,NaN,NaN,3.32,3.53,NaN,NaN,NaN,NaN
3,Cherries,Sweet Black,1st,£/kg,NaN,NaN,NaN,NaN,NaN,1.69,1.72,3.68,NaN,NaN,NaN,NaN
4,NaN,Sweet Black,2nd,£/kg,NaN,NaN,NaN,NaN,NaN,1.11,1.08,NaN,NaN,NaN,NaN,NaN

In [25]:
fruitveg_df['Year'] = fruitveg_df['Fruit']
fruitveg_df.columns = ['Year','Fruit','Variety','Quality','Units','Jan','Feb','Mar','Apr','']

,Fruit,Variety,Quality,Units,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year
0,FRUIT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FRUIT
1,Blackberries,All Varieties,-,£/kg,NaN,NaN,NaN,NaN,NaN,NaN,3.26,3.24,3.61,5.06,NaN,NaN,Blackberries
2,Blackcurrants,All Varieties,-,£/kg,NaN,NaN,NaN,NaN,NaN,NaN,3.32,3.53,NaN,NaN,NaN,NaN,Blackcurrants
3,Cherries,Sweet Black,1st,£/kg,NaN,NaN,NaN,NaN,NaN,1.69,1.72,3.68,NaN,NaN,NaN,NaN,Cherries
4,NaN,Sweet Black,2nd,£/kg,NaN,NaN,NaN,NaN,NaN,1.11,1.08,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
fruitveg_df['Fruit'].fillna(method='ffill', inplace=True)
apples_df = fruitveg_df.loc[fruitveg_df['Fruit'] == 'Dessert Apples']
apples_df[:5]

,Fruit,Variety,Quality,Units,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
15,Dessert Apples,Cox’s Orange-group,1st,£/kg,0.62,0.63,0.60,0.58,NaN,NaN,NaN,NaN,0.68,0.51,0.53,0.58
16,Dessert Apples,Cox’s Orange-group,2nd,£/kg,0.40,0.40,0.40,0.42,NaN,NaN,NaN,NaN,0.39,0.33,0.30,0.33
17,Dessert Apples,Cox’s Orange-group,Ave,£/kg,0.55,0.54,0.50,0.51,NaN,NaN,NaN,NaN,0.64,0.45,0.46,0.50
18,Dessert Apples,Discovery,1st,£/kg,NaN,NaN,NaN,NaN,NaN,NaN,0.75,0.51,0.37,NaN,NaN,NaN
19,Dessert Apples,Discovery,2nd,£/kg,NaN,NaN,NaN,NaN,NaN,NaN,0.66,0.33,0.25,NaN,NaN,NaN

In [43]:
len(apples_df)
apples_df

,Year,Apple Variety,Quality,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,Year Average
0,﻿2004,Cox’s Orange-group,1st,0.62,0.63,0.60,0.58,NaN,NaN,NaN,NaN,0.68,0.51,0.53,0.58,0.591250
1,﻿2004,Cox’s Orange-group,2nd,0.40,0.40,0.40,0.42,NaN,NaN,NaN,NaN,0.39,0.33,0.30,0.33,0.371250
2,﻿2004,Cox’s Orange-group,Ave,0.55,0.54,0.50,0.51,NaN,NaN,NaN,NaN,0.64,0.45,0.46,0.50,0.518750
3,﻿2004,Discovery,1st,NaN,NaN,NaN,NaN,NaN,NaN,0.75,0.51,0.37,NaN,NaN,NaN,0.543333
4,﻿2004,Discovery,2nd,NaN,NaN,NaN,NaN,NaN,NaN,0.66,0.33,0.25,NaN,NaN,NaN,0.413333
5,﻿2004,Discovery,Ave,NaN,NaN,NaN,NaN,NaN,NaN,0.74,0.48,0.32,NaN,NaN,NaN,0.513333
6,﻿2004,Egremont Russet,1st,0.57,0.58,0.50,NaN,NaN,NaN,NaN,0.83,0.64,0.59,0.61,0.64,0.620000
7,﻿2004,Egremont Russet,2nd,0.44,0.48,NaN,NaN,NaN,NaN,NaN,0.83,0.46,0.48,0.46,0.45,0.514286
8,﻿2004,Egremont Russet,Ave,0.54,0.55,NaN,NaN,NaN,NaN,NaN,0.83,0.63,0.58,0.58,0.59,0.614286
9,﻿2004,Spartan,1st,0.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.49,0.46,0.44,0.51,0.446000
10,﻿2004,Spartan,2nd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.34,0.30,0.28,0.306667
11,﻿2004,Spartan,Ave,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.45,0.42,0.31,0.393333
12,﻿2004,Worcester Pearmain,1st,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.49,0.46,NaN,NaN,0.475000
13,﻿2004,Worcester Pearmain,2nd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.55,0.34,0.37,NaN,NaN,0.420000
14,﻿2004,Worcester Pearmain,Ave,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.48,0.40,NaN,NaN,0.440000
15,﻿2004,Red Pippin,1st,NaN,0.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.47,NaN,NaN,0.465000
16,﻿2004,Red Pippin,2nd,NaN,NaN,NaN,0.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.220000
17,﻿2004,Red Pippin,Ave,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,﻿2004,Gala,1st,0.52,0.52,0.50,0.48,NaN,NaN,NaN,NaN,0.50,0.45,0.45,0.48,0.487500
19,﻿2004,Gala,2nd,0.42,0.40,0.37,0.44,NaN,NaN,NaN,NaN,NaN,0.34,0.30,0.29,0.365714
20,﻿2004,Gala,Ave,0.51,0.46,0.44,0.47,NaN,NaN,NaN,NaN,NaN,0.44,0.43,0.44,0.455714
21,﻿2004,Other Early Season,-,NaN,NaN,NaN,NaN,NaN,NaN,0.50,0.30,0.55,0.51,0.44,NaN,0.460000
22,﻿2004,Other Mid Season,-,NaN,0.57,NaN,NaN,NaN,NaN,NaN,NaN,0.51,0.44,0.55,NaN,0.517500
23,﻿2004,Other Late Season,-,0.46,0.42,0.49,0.44,NaN,NaN,NaN,NaN,NaN,0.44,0.51,0.49,0.464286
24,﻿2004,Jonogold – group,1st,0.50,0.39,0.49,0.41,0.39,0.36,0.49,0.37,0.33,0.40,0.35,0.44,0.410000
25,﻿2004,Jonogold – group,2nd,NaN,0.50,NaN,NaN,NaN,NaN,0.42,NaN,NaN,NaN,NaN,0.39,0.436667
26,﻿2004,Jonogold – group,Ave,NaN,0.41,NaN,NaN,NaN,NaN,0.46,NaN,NaN,NaN,NaN,0.43,0.433333
27,﻿2004,Katy,1st,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.58,0.42,NaN,NaN,NaN,0.500000
28,﻿2004,Katy,2nd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.44,0.41,NaN,NaN,NaN,0.425000
29,﻿2004,Katy,Ave,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.51,0.42,NaN,NaN,NaN,0.465000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,2014,Jonogold – group,1st,NaN,0.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.56,0.58,0.58,0.557500
301,2014,Jonogold – group,2nd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.46,NaN,0.460000
302,2014,Jonogold – group,Ave,NaN,0.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.56,0.57,0.58,0.555000
303,2015,Cox’s Orange-group,1st,0.71,0.79,0.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.810000
304,2015,Cox’s Orange-group,2nd,0.47,0.56,0.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.560000
305,2015,Cox’s Orange-group,Ave,0.69,0.78,0.89,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.840000
306,2015,Discovery,1st,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,2015,Discovery,2nd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,2015,Discovery,Ave,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,2015,Egremont Russet,1st,0.73,0.78,0.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.753333
310,2015,Egremont Russet,2nd,0.53,0.58,0.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.560000
311,2015,Egremont Russet,Ave,0.73,0.77,0.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.746667
312,2015,Spartan,1st,0.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.540000
313,2015,Spartan,2nd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2015,Spartan,Ave,0.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.540000
315,2015,Worcester Pearmain,1st,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2015,Worcester Pearmain,2nd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
317,2015,Worcester Pearmain,Ave,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
318,2015,Braeburn,1st,0.64,0.63,0.61,0.61,0.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.624000
319,2015,Braeburn,2nd,0.45,0.45,0.44,0.47,0.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.454000
320,2015,Braeburn,Ave,0.62,0.61,0.59,0.59,0.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.606000
321,2015,Gala,1st,0.74,0.70,0.67,0.70,0.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.694000
322,2015,Gala,2nd,0.48,0.52,0.48,0.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.495000
323,2015,Gala,Ave,0.72,0.69,0.64,0.68,0.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.678000
324,2015,Other Early Season,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
325,2015,Other Mid Season,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
326,2015,Other Late Season,-,0.66,0.59,0.57,0.63,0.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.618000
327,2015,Jonogold – group,1st,0.58,NaN,NaN,0.71,0.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.656667
328,2015,Jonogold – group,2nd,0.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.440000
329,2015,Jonogold – group,Ave,0.58,NaN,NaN,0.71,0.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.656667

In [33]:
grouped_year = apples_df.groupby(['Year'])
grouped_year

In [36]:
grouped_year.groups

{'2005': Int64Index([9, 10, 11, 12, 13, 14, 15, 16], dtype='int64'),
 '2006': Int64Index([17, 18, 19, 20, 21, 22, 23, 24], dtype='int64'),
 '2007': Int64Index([25, 26, 27, 28, 29, 30, 31, 32], dtype='int64'),
 '2008': Int64Index([33, 34, 35, 36, 37, 38, 39, 40], dtype='int64'),
 '2009': Int64Index([41, 42, 43, 44, 45, 46, 47, 48], dtype='int64'),
 '2010': Int64Index([49, 50, 51, 52, 53, 54, 55, 56], dtype='int64'),
 '2011': Int64Index([57, 58, 59, 60, 61, 62, 63, 64], dtype='int64'),
 '2012': Int64Index([65, 66, 67, 68, 69, 70, 71, 72], dtype='int64'),
 '2013': Int64Index([73, 74, 75, 76, 77, 78, 79, 80], dtype='int64'),
 '2014': Int64Index([81, 82, 83, 84, 85, 86, 87, 88, 89], dtype='int64'),
 '2015': Int64Index([90, 91, 92, 93, 94, 95, 96, 97], dtype='int64'),
 '\ufeff2004': Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8], dtype='int64')}