# Part 23 reset

Drop everything ...

Note that everything has to be done in the right order to avoid failure due to dependencies between users, roles, tables, views etc.

In [1]:
# import sqlmagic
%load_ext sql

In [2]:
# connect as root
%sql postgresql:///tm351test

'Connected: None@tm351test'

In [3]:
%%sql
-- drop tables created in notebook 10.1

DROP TABLE IF EXISTS drugs_prescribed CASCADE;
DROP TABLE IF EXISTS patient_prescription CASCADE;
DROP TABLE IF EXISTS patient_doctor CASCADE;
DROP TABLE IF EXISTS prescription CASCADE;
DROP TABLE IF EXISTS drug CASCADE;
DROP TABLE IF EXISTS doctor CASCADE;
DROP TABLE IF EXISTS patient CASCADE;

Done.
Done.
(psycopg2.ProgrammingError) "patient_doctor" is not a table
HINT:  Use DROP VIEW to remove a view.
 [SQL: 'DROP TABLE IF EXISTS patient_doctor CASCADE;']

In [4]:
%%sql
-- drop views
DROP VIEW IF EXISTS my_patients;
DROP VIEW IF EXISTS patient_doctor;

-- drop tables
DROP TABLE IF EXISTS patients CASCADE;
DROP TABLE IF EXISTS doctors CASCADE;

Done.
Done.
Done.
Done.

[]

In [5]:
%%sql
-- revoke privileges granted to role doctor
-- needed if privileges have been granted before role can be dropped
-- will fail if role does not exist
REVOKE ALL PRIVILEGES ON ALL TABLES IN SCHEMA public FROM doctor;

Done.

[]

In [6]:
%%sql
-- drop users and role
-- drops only those users explicitly created by Notebooks provided

DROP USER IF EXISTS dbadmin;
DROP USER IF EXISTS patient_admin, doctor_admin;
DROP USER IF EXISTS gibson, paxton, nolan, rampton, tamblin;
DROP ROLE IF EXISTS doctor;
DROP USER IF EXISTS a_patient;

Done.
Done.
Done.
Done.
Done.

[]

In [7]:
%%sql
select * from pg_user;

4 rows affected.

[('postgres', 10, True, True, True, True, '********', None, None),
 ('test', 16384, False, False, False, False, '********', None, None),
 ('root', 16386, False, True, False, False, '********', None, None),
 ('tm351admin', 16387, False, True, False, False, '********', None, None)]