# EMA Project Notebook
__Name:__ Daniel Smith

__PI:__ A7603242

In [36]:
# import the required libraries
import pandas as pd
import scipy.stats
import numpy as np
import pymongo
import bson
import collections
from matplotlib import pyplot
import seaborn as sns

In [2]:
# make a folder for storing my working files as I go along.
!mkdir -p data/dcs283

In [3]:
!ls data/dcs283

ks2_cleaned.csv

# Contents

Use these links to jump to a section.
[Setting up mongo](#mongo)
[Data preparation](#preparation)
 - [Importing the KS2 data](#importing_ks2)
 - [Initial look at KS4 data](#initial_ks4)
 - [OpenRefine](#openrefine)

[Q1, KS4 Investigation](#q1)

[Application of Machine Learning](#machine_learning)

[Q2, KS2 - KS4 Investigation](#q2)

[Cleanup remove the database](#cleanup)

# Setting up mongo
<a name="mongo"></a>

In [4]:
# set up a connection to mongodb server
client = pymongo.MongoClient('mongodb://localhost:27351')

In [5]:
# uncomment to remove the database if needed
client.drop_database('schools_db')
client.database_names()

['accidents', 'admin', 'local']

In [6]:
# setup a schools_db database on mongo
db = client.schools_db

# Data preparation
<a name="preparation"></a>

Before we can investigate the data we will need to have a quick look at it, determine what cleaning, if any, is needed.  Carry out the cleaning and store it for access in tn appropriate form.  

However before doing anything I will import the KS2 data in the same way as was done in `dcs283_TMA02_Question2b-pd`  I will then store the resultant dataframe into mongo for analysis later on.

## Importing the KS2 data
<a name="#importing_ks2"></a>

All of this section is the same as in the `TMA02_Question2b-pd` notebook.

***
__ ----------- Beginning of TMA02 code -----------  __

### Import the LEA data

In [7]:
leas_df = pd.read_csv('data/2015-2016/la_and_region_codes_meta.csv')
leas_df.head()

   LEA               LA Name  REGION   REGION NAME
0  841            Darlington       1  North East A
1  840         County Durham       1  North East A
2  805            Hartlepool       1  North East A
3  806         Middlesbrough       1  North East A
4  807  Redcar and Cleveland       1  North East A

### Import the KS2 data
Most of the field names are given in the `ks2_meta` file, so we'll use that to keep track of the types of various columns.

In [8]:
ks2cols = pd.read_csv('data/2015-2016/ks2_meta.csv')
ks2cols['Field Name'] = ks2cols['Field Name'].apply(lambda r: r.strip(),)
ks2cols

,Column,Field Name,Label/Description
0,1,RECTYPE,Record type (1=mainstream school; 2=special sc...
1,2,ALPHAIND,Alphabetic index
2,3,LEA,Local authority number
3,4,ESTAB,Establishment number
4,5,URN,School unique reference number
5,6,SCHNAME,School/Local authority name
6,7,ADDRESS1,School address (1)
7,8,ADDRESS2,School address (2)
8,9,ADDRESS3,School address (3)
9,10,TOWN,School town
10,11,PCODE,School postcode
11,12,TELNUM,School telephone number
12,13,URN_AC,Converter academy: URN
13,14,SCHNAME_AC,Converter academy: name
14,15,OPEN_AC,Converter academy: open date
15,16,NFTYPE,School type
16,17,ICLOSE,Closed Flag
17,18,RELDENOM,Religious denomination
18,19,AGERANGE,Age range
19,20,CONFEXAM,Confirmation flag that core performance inform...
20,21,TAB15,School published in secondary school (key stag...
21,22,TAB1618,School published in school and college (key st...
22,23,TOTPUPS,Total number of pupils (including part-time pu...
23,24,TPUPYEAR,Number of pupils aged 11
24,25,TELIG,Published eligible pupil number
25,26,BELIG,Eligible boys on school roll at time of tests
26,27,GELIG,Eligible girls on school roll at time of tests
27,28,PBELIG,Percentage of eligible boys on school roll at ...
28,29,PGELIG,Percentage of eligible girls on school roll at...
29,30,TKS1AVERAGE,Cohort level key stage 1 average points score
...,...,...,...
229,230,PTGPS_HIGH_M,Percentage of pupils with medium prior attainm...
230,231,PTGPS_HIGH_H,Percentage of pupils with high prior attainmen...
231,232,PTGPS_HIGH_FSM6CLA1A,Percentage of disadvantaged pupils achieving a...
232,233,PTGPS_HIGH_NotFSM6CLA1A,Percentage of non-disadvantaged pupils achievi...
233,234,PTMAT_HIGH_L,Percentage of pupils with low prior attainment...
234,235,PTMAT_HIGH_M,Percentage of pupils with medium prior attainm...
235,236,PTMAT_HIGH_H,Percentage of pupils with high prior attainmen...
236,237,PTMAT_HIGH_FSM6CLA1A,Percentage of disadvantaged pupils achieving a...
237,238,PTMAT_HIGH_NotFSM6CLA1A,Percentage of non-disadvantaged pupils achievi...
238,239,PTWRITTA_HIGH_L,Percentage of pupils with low prior attainment...
239,240,PTWRITTA_HIGH_M,Percentage of pupils with medium prior attainm...
240,241,PTWRITTA_HIGH_H,Percentage of pupils with high prior attainmen...
241,242,PTWRITTA_HIGH_FSM6CLA1A,Percentage of disadvantaged pupils working at ...
242,243,PTWRITTA_HIGH_NotFSM6CLA1A,Percentage of non-disadvantaged pupils working...
243,244,TEALGRP1,Number of eligible pupils with English as firs...
244,245,PTEALGRP1,Percentage of eligible pupils with English as ...
245,246,TEALGRP3,Number of eligible pupils with unclassified la...
246,247,PTEALGRP3,Percentage of eligible pupils with unclassifie...
247,248,TSENELAPK,Number of eligible pupils with SEN without sta...
248,249,PSENELSAPK,Percentage of eligible pupils with SEN without...
249,250,TSENELE,Number of eligible pupils with EHC plan
250,251,PSENELE,Percentage of eligible pupils with EHC plan
251,252,TSENELK,Number of eligible pupils with SEN support
252,253,PSENELK,Percentage of eligible pupils with SEN support
253,254,TSENELST,Number of eligible pupils with SEN (Special Ed...
254,255,PSENELST,Percentage of eligible pupils with SEN (Specia...
255,256,TSENELSAP,Number of eligible pupils with School Action Plus
256,257,PSENELSAP,Percentage of eligible pupils with School Acti...
257,258,SENELN,Number of eligible pupils with SEN (Special Ed...
258,259,PSENELN,Percentage of eligible pupils with SEN (Specia...

Some columns contain integers, but _**pandas**_ will treat any numeric column with `na` values as `float64`, due to NumPy's number type hierarchy.

In [9]:
int_cols = [c for c in ks2cols['Field Name'] 
            if c.startswith('T')
            if c not in ['TOWN', 'TELNUM', 'TKS1AVERAGE']]
int_cols += ['RECTYPE', 'ALPHAIND', 'LEA', 'ESTAB', 'URN', 'URN_AC', 'ICLOSE']
int_cols += ['READ_AVERAGE', 'GPS_AVERAGE', 'MAT_AVERAGE']

Some columns contain percentages. We'll convert these to floating point numbers on import.

Note that we also need to handle the case of `SUPP` and `NEW` in the data.

In [10]:
def p2f(x):
    if x.strip('%').isnumeric():
        return float(x.strip('%'))/100
    elif x in ['SUPP', 'NEW', 'LOWCOV', 'NA', '']:
        return 0.0
    else:
        return x

These are the columns to try to convert from percentages. Note that we can be generous here, as columns like PCODE (postcode) will return the original value if the conversion fails.

In [11]:
percent_cols = [f for f in ks2cols['Field Name'] if f.startswith('P')]
percent_cols += ['WRITCOV', 'MATCOV', 'READCOV'] 
percent_cols += ['PTMAT_HIGH', 'PTREAD_HIGH', 'PSENELSAPK', 'PSENELK', 'PTGPS_HIGH']
percent_converters = {c: p2f for c in percent_cols}

In [12]:
ks2_df = pd.read_csv('data/2015-2016/england_ks2final.csv', 
                   na_values=['SUPP', 'NEW', 'LOWCOV', 'NA', ''],
                   converters=percent_converters)

Drop the summary rows, keeping just the rows for mainstream and special schools.

In [13]:
ks2_df = ks2_df[(ks2_df['RECTYPE'] == 1) | (ks2_df['RECTYPE'] == 2)]

Convert everything to numbers, if possible.

In [14]:
ks2_df = ks2_df.apply(pd.to_numeric, errors='ignore')

Merge the LEA data into the school data

In [15]:
ks2_df = pd.merge(ks2_df, leas_df, on=['LEA'])
ks2_df.head().T

,0,1,2,3,4
RECTYPE,1,1,1,1,1
ALPHAIND,53372,11156,11160,11256,16366
LEA,201,202,202,202,202
ESTAB,3614,3323,3327,2842,2184
URN,100000,100028,100029,130342,100013
SCHNAME,Sir John Cass's Foundation Primary School,"Christ Church Primary School, Hampstead",Christ Church School,Christopher Hatton Primary School,Edith Neville Primary School
ADDRESS1,St James's Passage,Christ Church Hill,Redhill Street,38 Laystall Street,174 Ossulston Street
ADDRESS2,Duke's Place,NaN,Camden,NaN,NaN
ADDRESS3,NaN,NaN,NaN,NaN,NaN
TOWN,London,London,London,London,London
PCODE,EC3A 5DE,NW3 1JH,NW1 4BD,EC1R 4PQ,NW1 1DN
TELNUM,0207 2831147,0207 4351361,0207 3877881,0207 2784500,0207 3877158
URN_AC,0,0,0,0,0
SCHNAME_AC,NaN,NaN,NaN,NaN,NaN
OPEN_AC,NaN,NaN,NaN,NaN,NaN
NFTYPE,VA,VA,VA,CY,CY
ICLOSE,0,0,0,0,0
RELDENOM,Church of England,Church of England,Church of England,Does not apply,Does not apply
AGERANGE,3-11,4-11,3-11,3-11,3-11
CONFEXAM,NaN,NaN,NaN,NaN,NaN
TAB15,0,0,0,0,0
TAB1618,0,0,0,0,0
TOTPUPS,250,181,229,233,221
TPUPYEAR,28,23,29,28,29
TELIG,28,21,28,28,29
BELIG,16,16,17,16,9
GELIG,12,5,11,12,20
PBELIG,0.57,0.76,0.61,0.57,0.31
PGELIG,0.43,0.24,0.39,0.43,0.69
TKS1AVERAGE,16,16.7,14,16,14.5
...,...,...,...,...,...
PTGPS_HIGH_NotFSM6CLA1A,0.31,0,0.27,0.5,0.56
PTMAT_HIGH_L,0,0,0,0,0
PTMAT_HIGH_M,0.15,0.25,0.16,0.12,0.32
PTMAT_HIGH_H,0.33,0.83,0,0.29,0
PTMAT_HIGH_FSM6CLA1A,0.08,0,0.12,0.17,0.25
PTMAT_HIGH_NotFSM6CLA1A,0.25,0,0.18,0.25,0.44
PTWRITTA_HIGH_L,0,0,0,0,0
PTWRITTA_HIGH_M,0.05,0.33,0.11,0.06,0.09
PTWRITTA_HIGH_H,0.5,0.83,0,0.57,0
PTWRITTA_HIGH_FSM6CLA1A,0,0,0.18,0.17,0.1
PTWRITTA_HIGH_NotFSM6CLA1A,0.25,0,0.09,0.19,0.11
TEALGRP1,10,7,13,11,0
PTEALGRP1,0.36,0.33,0.46,0.39,0
TEALGRP3,0,0,0,0,0
PTEALGRP3,0,0,0,0,0
TSENELAPK,5,2,6,5,11
PSENELSAPK,0.18,0.1,0.21,0.18,0.38
TSENELE,0,0,1,0,0
PSENELE,0,0,0.04,0,0
TSENELK,5,2,6,5,11
PSENELK,0.18,0.1,0.21,0.18,0.38
TSENELST,0,0,0,0,0
PSENELST,0,0,0,0,0
TSENELSAP,0,0,0,0,0
PSENELSAP,0,0,0,0,0
SENELN,0,0,0,0,0
PSENELN,0,0,0,0,0
LA Name,City of London,Camden,Camden,Camden,Camden
REGION,32,31,31,31,31
REGION NAME,London East,London Central,London Central,London Central,London Central

__ ----------- END of TMA02 code -----------  __
***

### Convert and store the KS2 dataframe into Mongo for use later

In [16]:
# set up a collection for the ks2 results dataframe
ks2 = db.ks2_results

In [17]:
# convert the dataframe into a list of dicts and store in Mongo

# the 'results' argument is needed to get a list of dicts
ks2.insert_many(ks2_df.to_dict('records'))

# snippet reference is from:
# https://stackoverflow.com/questions/33979983/insert-rows-from-pandas-dataframe-into-mongodb-collection-as-individual-document

In [18]:
# check we got them all
ks2.find().count(), len(ks2_df)

(16162, 16162)

In [19]:
ks2.find_one()

{'ADDRESS1': "St James's Passage",
 'ADDRESS2': "Duke's Place",
 'ADDRESS3': nan,
 'AGERANGE': '3-11',
 'ALPHAIND': 53372.0,
 'BELIG': 16.0,
 'CONFEXAM': nan,
 'DIFFN_MATPROG': 2.7,
 'DIFFN_READPROG': 0.6,
 'DIFFN_RWM_EXP': 23.0,
 'DIFFN_RWM_HIGH': -7.0,
 'DIFFN_WRITPROG': 0.2,
 'ESTAB': 3614.0,
 'GELIG': 12.0,
 'GPS_AVERAGE': 106.0,
 'GPS_AVERAGE_FSM6CLA1A': 105.0,
 'GPS_AVERAGE_H': 110.0,
 'GPS_AVERAGE_L': nan,
 'GPS_AVERAGE_M': 105.0,
 'GPS_AVERAGE_NotFSM6CLA1A': 107.0,
 'ICLOSE': 0.0,
 'LA Name': 'City of London',
 'LEA': 201.0,
 'MATCOV': 1.0,
 'MATPROG': 3.0,
 'MATPROG_B': 2.9,
 'MATPROG_B_LOWER': 0.3,
 'MATPROG_B_UPPER': 5.5,
 'MATPROG_EAL': 3.1,
 'MATPROG_EAL_LOWER': 0.6,
 'MATPROG_EAL_UPPER': 5.6,
 'MATPROG_FSM6CLA1A': 2.9,
 'MATPROG_FSM6CLA1A_LOWER': -0.1,
 'MATPROG_FSM6CLA1A_UPPER': 5.9,
 'MATPROG_G': 3.1,
 'MATPROG_G_LOWER': 0.1,
 'MATPROG_G_UPPER': 6.1,
 'MATPROG_H': 0.4,
 'MATPROG_H_LOWER': -3.9,
 'MATPROG_H_UPPER': 4.7,
 'MATPROG_L': nan,
 'MATPROG_LOWER': 1.0,
 'MATPROG_L_LOWER': nan,
 'MATPROG_L_UPPER': nan,
 'MATPROG_M': 3.3,
 'MATPROG_MOBN': 3.0,
 'MATPROG_MOBN_LOWER': 1.0,
 'MATPROG_MOBN_UPPER': 5.0,
 'MATPROG_M_LOWER': 1.0,
 'MATPROG_M_UPPER': 5.6,
 'MATPROG_NotFSM6CLA1A': 3.0,
 'MATPROG_NotFSM6CLA1A_LOWER': 0.4,
 'MATPROG_NotFSM6CLA1A_UPPER': 5.6,
 'MATPROG_UPPER': 5.0,
 'MAT_AVERAGE': 106.0,
 'MAT_AVERAGE_FSM6CLA1A': 106.0,
 'MAT_AVERAGE_H': 108.0,
 'MAT_AVERAGE_L': nan,
 'MAT_AVERAGE_M': 106.0,
 'MAT_AVERAGE_NotFSM6CLA1A': 107.0,
 'NFTYPE': 'VA',
 'OPEN_AC': nan,
 'PBELIG': 0.57,
 'PCODE': 'EC3A 5DE',
 'PGELIG': 0.43,
 'PSENELE': 0.0,
 'PSENELK': 0.18,
 'PSENELN': 0.0,
 'PSENELSAP': 0.0,
 'PSENELSAPK': 0.18,
 'PSENELSE': 0.0,
 'PSENELST': 0.0,
 'PTEALGRP1': 0.36,
 'PTEALGRP2': 0.64,
 'PTEALGRP3': 0.0,
 'PTFSM6CLA1A': 0.43,
 'PTGPS_AT': 0.0,
 'PTGPS_EXP': 0.96,
 'PTGPS_EXP_FSM6CLA1A': 1.0,
 'PTGPS_EXP_H': 1.0,
 'PTGPS_EXP_L': 0.0,
 'PTGPS_EXP_M': 0.95,
 'PTGPS_EXP_NotFSM6CLA1A': 0.94,
 'PTGPS_HIGH': 0.18,
 'PTGPS_HIGH_FSM6CLA1A': 0.0,
 'PTGPS_HIGH_H': 0.33,
 'PTGPS_HIGH_L': 0.0,
 'PTGPS_HIGH_M': 0.15,
 'PTGPS_HIGH_NotFSM6CLA1A': 0.31,
 'PTKS1GROUP_H': 0.21,
 'PTKS1GROUP_L': 0.07,
 'PTKS1GROUP_M': 0.71,
 'PTKS1GROUP_NA': 0.0,
 'PTMATTA_AD': 0.0,
 'PTMATTA_EXP': 0.96,
 'PTMAT_AT': 0.0,
 'PTMAT_EXP': 1.0,
 'PTMAT_EXP_FSM6CLA1A': 1.0,
 'PTMAT_EXP_H': 1.0,
 'PTMAT_EXP_L': 0.0,
 'PTMAT_EXP_M': 1.0,
 'PTMAT_EXP_NotFSM6CLA1A': 1.0,
 'PTMAT_HIGH': 0.18,
 'PTMAT_HIGH_FSM6CLA1A': 0.08,
 'PTMAT_HIGH_H': 0.33,
 'PTMAT_HIGH_L': 0.0,
 'PTMAT_HIGH_M': 0.15,
 'PTMAT_HIGH_NotFSM6CLA1A': 0.25,
 'PTMOBN': 1.0,
 'PTNotFSM6CLA1A': 0.57,
 'PTREADTA_AD': 0.0,
 'PTREADTA_EXP': 0.93,
 'PTREAD_AT': 0.0,
 'PTREAD_EXP': 0.93,
 'PTREAD_EXP_FSM6CLA1A': 0.92,
 'PTREAD_EXP_H': 1.0,
 'PTREAD_EXP_L': 0.0,
 'PTREAD_EXP_M': 0.9,
 'PTREAD_EXP_NotFSM6CLA1A': 0.94,
 'PTREAD_HIGH': 0.18,
 'PTREAD_HIGH_FSM6CLA1A': 0.08,
 'PTREAD_HIGH_H': 0.67,
 'PTREAD_HIGH_L': 0.0,
 'PTREAD_HIGH_M': 0.05,
 'PTREAD_HIGH_NotFSM6CLA1A': 0.25,
 'PTRWM_EXP': 0.89,
 'PTRWM_EXP_B': 0.88,
 'PTRWM_EXP_EAL': 0.83,
 'PTRWM_EXP_FSM6CLA1A': 0.83,
 'PTRWM_EXP_G': 0.92,
 'PTRWM_EXP_H': 1.0,
 'PTRWM_EXP_L': 0.0,
 'PTRWM_EXP_M': 0.9,
 'PTRWM_EXP_MOBN': 0.89,
 'PTRWM_EXP_NotFSM6CLA1A': 0.94,
 'PTRWM_HIGH': 0.07,
 'PTRWM_HIGH_B': 0.06,
 'PTRWM_HIGH_EAL': 0.11,
 'PTRWM_HIGH_FSM6CLA1A': 0.0,
 'PTRWM_HIGH_G': 0.08,
 'PTRWM_HIGH_H': 0.33,
 'PTRWM_HIGH_L': 0.0,
 'PTRWM_HIGH_M': 0.0,
 'PTRWM_HIGH_MOBN': 0.07,
 'PTRWM_HIGH_NotFSM6CLA1A': 0.13,
 'PTSCITA_AD': 0.0,
 'PTSCITA_EXP': 1.0,
 'PTWRITTA_AD': 0.0,
 'PTWRITTA_EXP': 0.96,
 'PTWRITTA_EXP_FSM6CLA1A': 0.92,
 'PTWRITTA_EXP_H': 1.0,
 'PTWRITTA_EXP_L': 0.0,
 'PTWRITTA_EXP_M': 1.0,
 'PTWRITTA_EXP_NotFSM6CLA1A': 1.0,
 'PTWRITTA_HIGH': 0.14,
 'PTWRITTA_HIGH_FSM6CLA1A': 0.0,
 'PTWRITTA_HIGH_H': 0.5,
 'PTWRITTA_HIGH_L': 0.0,
 'PTWRITTA_HIGH_M': 0.05,
 'PTWRITTA_HIGH_NotFSM6CLA1A': 0.25,
 'PTWRITTA_WTS': 0.04,
 'READCOV': 1.0,
 'READPROG': 2.7,
 'READPROG_B': 1.0,
 'READPROG_B_LOWER': -2.1,
 'READPROG_B_UPPER': 4.1,
 'READPROG_EAL': 2.5,
 'READPROG_EAL_LOWER': -0.4,
 'READPROG_EAL_UPPER': 5.4,
 'READPROG_FSM6CLA1A': 0.9,
 'READPROG_FSM6CLA1A_LOWER': -2.7,
 'READPROG_FSM6CLA1A_UPPER': 4.5,
 'READPROG_G': 4.9,
 'READPROG_G_LOWER': 1.3,
 'READPROG_G_UPPER': 8.5,
 'READPROG_H': 2.8,
 'READPROG_H_LOWER': -2.2,
 'READPROG_H_UPPER': 7.8,
 'READPROG_L': nan,
 'READPROG_LOWER': 0.4,
 'READPROG_L_LOWER': nan,
 'READPROG_L_UPPER': nan,
 'READPROG_M': 1.9,
 'READPROG_MOBN': 2.7,
 'READPROG_MOBN_LOWER': 0.4,
 'READPROG_MOBN_UPPER': 5.0,
 'READPROG_M_LOWER': -0.9,
 'READPROG_M_UPPER': 4.7,
 'READPROG_NotFSM6CLA1A': 4.0,
 'READPROG_NotFSM6CLA1A_LOWER': 0.9,
 'READPROG_NotFSM6CLA1A_UPPER': 7.1,
 'READPROG_UPPER': 5.0,
 'READ_AVERAGE': 106.0,
 'READ_AVERAGE_FSM6CLA1A': 104.0,
 'READ_AVERAGE_H': 111.0,
 'READ_AVERAGE_L': nan,
 'READ_AVERAGE_M': 104.0,
 'READ_AVERAGE_NotFSM6CLA1A': 107.0,
 'RECTYPE': 1,
 'REGION': 32,
 'REGION NAME': 'London East',
 'RELDENOM': 'Church of England',
 'SCHNAME': "Sir John Cass's Foundation Primary School",
 'SCHNAME_AC': nan,
 'SENELN': 0.0,
 'TAB15': 0.0,
 'TAB1618': 0.0,
 'TEALGRP1': 10.0,
 'TEALGRP2': 18.0,
 'TEALGRP3': 0.0,
 'TELIG': 28.0,
 'TELNUM': '0207 2831147',
 'TFSM6CLA1A': 12.0,
 'TKS1AVERAGE': 16.0,
 'TKS1GROUP_H': 6.0,
 'TKS1GROUP_L': 2.0,
 'TKS1GROUP_M': 20.0,
 'TKS1GROUP_NA': 0.0,
 'TMOBN': 28.0,
 'TNotFSM6CLA1A': 16.0,
 'TOTPUPS': 250.0,
 'TOWN': 'London',
 'TPUPYEAR': 28.0,
 'TSENELAPK': 5.0,
 'TSENELE': 0.0,
 'TSENELK': 5.0,
 'TSENELSAP': 0.0,
 'TSENELSE': 0.0,
 'TSENELST': 0.0,
 'URN': 100000.0,
 'URN_AC': 0.0,
 'WRITCOV': 1.0,
 'WRITPROG': 2.2,
 'WRITPROG_B': 1.3,
 'WRITPROG_B_LOWER': -1.8,
 'WRITPROG_B_UPPER': 4.4,
 'WRITPROG_EAL': 2.3,
 'WRITPROG_EAL_LOWER': -0.6,
 'WRITPROG_EAL_UPPER': 5.2,
 'WRITPROG_FSM6CLA1A': 0.3,
 'WRITPROG_FSM6CLA1A_LOWER': -3.3,
 'WRITPROG_FSM6CLA1A_UPPER': 3.9,
 'WRITPROG_G': 3.4,
 'WRITPROG_G_LOWER': -0.2,
 'WRITPROG_G_UPPER': 7.0,
 'WRITPROG_H': 2.2,
 'WRITPROG_H_LOWER': -2.8,
 'WRITPROG_H_UPPER': 7.2,
 'WRITPROG_L': nan,
 'WRITPROG_LOWER': -0.1,
 'WRITPROG_L_LOWER': nan,
 'WRITPROG_L_UPPER': nan,
 'WRITPROG_M': 2.0,
 'WRITPROG_MOBN': 2.2,
 'WRITPROG_MOBN_LOWER': -0.1,
 'WRITPROG_MOBN_UPPER': 4.5,
 'WRITPROG_M_LOWER': -0.8,
 'WRITPROG_M_UPPER': 4.8,
 'WRITPROG_NotFSM6CLA1A': 3.6,
 'WRITPROG_NotFSM6CLA1A_LOWER': 0.5,
 'WRITPROG_NotFSM6CLA1A_UPPER': 6.7,
 'WRITPROG_UPPER': 4.5,
 '_id': ObjectId('5b0b0e900fd01f068e576ef4')}

In [22]:
## Initial look at the KS4 results dataset

In [30]:
ks2.find_one()['GPS_AVERAGE_L']

nan

In [35]:
ks2.find({'GPS_AVERAGE_L': Na})

NameError: name 'Na' is not defined

Looks good.  We will need to watch out for the NaN values though.

In [50]:
ks2.find({'GPS_AVERAGE_L': np.nan}).count()

11940

In [51]:
ks2.find_one()

{'ADDRESS1': "St James's Passage",
 'ADDRESS2': "Duke's Place",
 'ADDRESS3': nan,
 'AGERANGE': '3-11',
 'ALPHAIND': 53372.0,
 'BELIG': 16.0,
 'CONFEXAM': nan,
 'DIFFN_MATPROG': 2.7,
 'DIFFN_READPROG': 0.6,
 'DIFFN_RWM_EXP': 23.0,
 'DIFFN_RWM_HIGH': -7.0,
 'DIFFN_WRITPROG': 0.2,
 'ESTAB': 3614.0,
 'GELIG': 12.0,
 'GPS_AVERAGE': 106.0,
 'GPS_AVERAGE_FSM6CLA1A': 105.0,
 'GPS_AVERAGE_H': 110.0,
 'GPS_AVERAGE_L': nan,
 'GPS_AVERAGE_M': 105.0,
 'GPS_AVERAGE_NotFSM6CLA1A': 107.0,
 'ICLOSE': 0.0,
 'LA Name': 'City of London',
 'LEA': 201.0,
 'MATCOV': 1.0,
 'MATPROG': 3.0,
 'MATPROG_B': 2.9,
 'MATPROG_B_LOWER': 0.3,
 'MATPROG_B_UPPER': 5.5,
 'MATPROG_EAL': 3.1,
 'MATPROG_EAL_LOWER': 0.6,
 'MATPROG_EAL_UPPER': 5.6,
 'MATPROG_FSM6CLA1A': 2.9,
 'MATPROG_FSM6CLA1A_LOWER': -0.1,
 'MATPROG_FSM6CLA1A_UPPER': 5.9,
 'MATPROG_G': 3.1,
 'MATPROG_G_LOWER': 0.1,
 'MATPROG_G_UPPER': 6.1,
 'MATPROG_H': 0.4,
 'MATPROG_H_LOWER': -3.9,
 'MATPROG_H_UPPER': 4.7,
 'MATPROG_L': nan,
 'MATPROG_LOWER': 1.0,
 'MATPROG_L_LOWER': nan,
 'MATPROG_L_UPPER': nan,
 'MATPROG_M': 3.3,
 'MATPROG_MOBN': 3.0,
 'MATPROG_MOBN_LOWER': 1.0,
 'MATPROG_MOBN_UPPER': 5.0,
 'MATPROG_M_LOWER': 1.0,
 'MATPROG_M_UPPER': 5.6,
 'MATPROG_NotFSM6CLA1A': 3.0,
 'MATPROG_NotFSM6CLA1A_LOWER': 0.4,
 'MATPROG_NotFSM6CLA1A_UPPER': 5.6,
 'MATPROG_UPPER': 5.0,
 'MAT_AVERAGE': 106.0,
 'MAT_AVERAGE_FSM6CLA1A': 106.0,
 'MAT_AVERAGE_H': 108.0,
 'MAT_AVERAGE_L': nan,
 'MAT_AVERAGE_M': 106.0,
 'MAT_AVERAGE_NotFSM6CLA1A': 107.0,
 'NFTYPE': 'VA',
 'OPEN_AC': nan,
 'PBELIG': 0.57,
 'PCODE': 'EC3A 5DE',
 'PGELIG': 0.43,
 'PSENELE': 0.0,
 'PSENELK': 0.18,
 'PSENELN': 0.0,
 'PSENELSAP': 0.0,
 'PSENELSAPK': 0.18,
 'PSENELSE': 0.0,
 'PSENELST': 0.0,
 'PTEALGRP1': 0.36,
 'PTEALGRP2': 0.64,
 'PTEALGRP3': 0.0,
 'PTFSM6CLA1A': 0.43,
 'PTGPS_AT': 0.0,
 'PTGPS_EXP': 0.96,
 'PTGPS_EXP_FSM6CLA1A': 1.0,
 'PTGPS_EXP_H': 1.0,
 'PTGPS_EXP_L': 0.0,
 'PTGPS_EXP_M': 0.95,
 'PTGPS_EXP_NotFSM6CLA1A': 0.94,
 'PTGPS_HIGH': 0.18,
 'PTGPS_HIGH_FSM6CLA1A': 0.0,
 'PTGPS_HIGH_H': 0.33,
 'PTGPS_HIGH_L': 0.0,
 'PTGPS_HIGH_M': 0.15,
 'PTGPS_HIGH_NotFSM6CLA1A': 0.31,
 'PTKS1GROUP_H': 0.21,
 'PTKS1GROUP_L': 0.07,
 'PTKS1GROUP_M': 0.71,
 'PTKS1GROUP_NA': 0.0,
 'PTMATTA_AD': 0.0,
 'PTMATTA_EXP': 0.96,
 'PTMAT_AT': 0.0,
 'PTMAT_EXP': 1.0,
 'PTMAT_EXP_FSM6CLA1A': 1.0,
 'PTMAT_EXP_H': 1.0,
 'PTMAT_EXP_L': 0.0,
 'PTMAT_EXP_M': 1.0,
 'PTMAT_EXP_NotFSM6CLA1A': 1.0,
 'PTMAT_HIGH': 0.18,
 'PTMAT_HIGH_FSM6CLA1A': 0.08,
 'PTMAT_HIGH_H': 0.33,
 'PTMAT_HIGH_L': 0.0,
 'PTMAT_HIGH_M': 0.15,
 'PTMAT_HIGH_NotFSM6CLA1A': 0.25,
 'PTMOBN': 1.0,
 'PTNotFSM6CLA1A': 0.57,
 'PTREADTA_AD': 0.0,
 'PTREADTA_EXP': 0.93,
 'PTREAD_AT': 0.0,
 'PTREAD_EXP': 0.93,
 'PTREAD_EXP_FSM6CLA1A': 0.92,
 'PTREAD_EXP_H': 1.0,
 'PTREAD_EXP_L': 0.0,
 'PTREAD_EXP_M': 0.9,
 'PTREAD_EXP_NotFSM6CLA1A': 0.94,
 'PTREAD_HIGH': 0.18,
 'PTREAD_HIGH_FSM6CLA1A': 0.08,
 'PTREAD_HIGH_H': 0.67,
 'PTREAD_HIGH_L': 0.0,
 'PTREAD_HIGH_M': 0.05,
 'PTREAD_HIGH_NotFSM6CLA1A': 0.25,
 'PTRWM_EXP': 0.89,
 'PTRWM_EXP_B': 0.88,
 'PTRWM_EXP_EAL': 0.83,
 'PTRWM_EXP_FSM6CLA1A': 0.83,
 'PTRWM_EXP_G': 0.92,
 'PTRWM_EXP_H': 1.0,
 'PTRWM_EXP_L': 0.0,
 'PTRWM_EXP_M': 0.9,
 'PTRWM_EXP_MOBN': 0.89,
 'PTRWM_EXP_NotFSM6CLA1A': 0.94,
 'PTRWM_HIGH': 0.07,
 'PTRWM_HIGH_B': 0.06,
 'PTRWM_HIGH_EAL': 0.11,
 'PTRWM_HIGH_FSM6CLA1A': 0.0,
 'PTRWM_HIGH_G': 0.08,
 'PTRWM_HIGH_H': 0.33,
 'PTRWM_HIGH_L': 0.0,
 'PTRWM_HIGH_M': 0.0,
 'PTRWM_HIGH_MOBN': 0.07,
 'PTRWM_HIGH_NotFSM6CLA1A': 0.13,
 'PTSCITA_AD': 0.0,
 'PTSCITA_EXP': 1.0,
 'PTWRITTA_AD': 0.0,
 'PTWRITTA_EXP': 0.96,
 'PTWRITTA_EXP_FSM6CLA1A': 0.92,
 'PTWRITTA_EXP_H': 1.0,
 'PTWRITTA_EXP_L': 0.0,
 'PTWRITTA_EXP_M': 1.0,
 'PTWRITTA_EXP_NotFSM6CLA1A': 1.0,
 'PTWRITTA_HIGH': 0.14,
 'PTWRITTA_HIGH_FSM6CLA1A': 0.0,
 'PTWRITTA_HIGH_H': 0.5,
 'PTWRITTA_HIGH_L': 0.0,
 'PTWRITTA_HIGH_M': 0.05,
 'PTWRITTA_HIGH_NotFSM6CLA1A': 0.25,
 'PTWRITTA_WTS': 0.04,
 'READCOV': 1.0,
 'READPROG': 2.7,
 'READPROG_B': 1.0,
 'READPROG_B_LOWER': -2.1,
 'READPROG_B_UPPER': 4.1,
 'READPROG_EAL': 2.5,
 'READPROG_EAL_LOWER': -0.4,
 'READPROG_EAL_UPPER': 5.4,
 'READPROG_FSM6CLA1A': 0.9,
 'READPROG_FSM6CLA1A_LOWER': -2.7,
 'READPROG_FSM6CLA1A_UPPER': 4.5,
 'READPROG_G': 4.9,
 'READPROG_G_LOWER': 1.3,
 'READPROG_G_UPPER': 8.5,
 'READPROG_H': 2.8,
 'READPROG_H_LOWER': -2.2,
 'READPROG_H_UPPER': 7.8,
 'READPROG_L': nan,
 'READPROG_LOWER': 0.4,
 'READPROG_L_LOWER': nan,
 'READPROG_L_UPPER': nan,
 'READPROG_M': 1.9,
 'READPROG_MOBN': 2.7,
 'READPROG_MOBN_LOWER': 0.4,
 'READPROG_MOBN_UPPER': 5.0,
 'READPROG_M_LOWER': -0.9,
 'READPROG_M_UPPER': 4.7,
 'READPROG_NotFSM6CLA1A': 4.0,
 'READPROG_NotFSM6CLA1A_LOWER': 0.9,
 'READPROG_NotFSM6CLA1A_UPPER': 7.1,
 'READPROG_UPPER': 5.0,
 'READ_AVERAGE': 106.0,
 'READ_AVERAGE_FSM6CLA1A': 104.0,
 'READ_AVERAGE_H': 111.0,
 'READ_AVERAGE_L': nan,
 'READ_AVERAGE_M': 104.0,
 'READ_AVERAGE_NotFSM6CLA1A': 107.0,
 'RECTYPE': 1,
 'REGION': 32,
 'REGION NAME': 'London East',
 'RELDENOM': 'Church of England',
 'SCHNAME': "Sir John Cass's Foundation Primary School",
 'SCHNAME_AC': nan,
 'SENELN': 0.0,
 'TAB15': 0.0,
 'TAB1618': 0.0,
 'TEALGRP1': 10.0,
 'TEALGRP2': 18.0,
 'TEALGRP3': 0.0,
 'TELIG': 28.0,
 'TELNUM': '0207 2831147',
 'TFSM6CLA1A': 12.0,
 'TKS1AVERAGE': 16.0,
 'TKS1GROUP_H': 6.0,
 'TKS1GROUP_L': 2.0,
 'TKS1GROUP_M': 20.0,
 'TKS1GROUP_NA': 0.0,
 'TMOBN': 28.0,
 'TNotFSM6CLA1A': 16.0,
 'TOTPUPS': 250.0,
 'TOWN': 'London',
 'TPUPYEAR': 28.0,
 'TSENELAPK': 5.0,
 'TSENELE': 0.0,
 'TSENELK': 5.0,
 'TSENELSAP': 0.0,
 'TSENELSE': 0.0,
 'TSENELST': 0.0,
 'URN': 100000.0,
 'URN_AC': 0.0,
 'WRITCOV': 1.0,
 'WRITPROG': 2.2,
 'WRITPROG_B': 1.3,
 'WRITPROG_B_LOWER': -1.8,
 'WRITPROG_B_UPPER': 4.4,
 'WRITPROG_EAL': 2.3,
 'WRITPROG_EAL_LOWER': -0.6,
 'WRITPROG_EAL_UPPER': 5.2,
 'WRITPROG_FSM6CLA1A': 0.3,
 'WRITPROG_FSM6CLA1A_LOWER': -3.3,
 'WRITPROG_FSM6CLA1A_UPPER': 3.9,
 'WRITPROG_G': 3.4,
 'WRITPROG_G_LOWER': -0.2,
 'WRITPROG_G_UPPER': 7.0,
 'WRITPROG_H': 2.2,
 'WRITPROG_H_LOWER': -2.8,
 'WRITPROG_H_UPPER': 7.2,
 'WRITPROG_L': nan,
 'WRITPROG_LOWER': -0.1,
 'WRITPROG_L_LOWER': nan,
 'WRITPROG_L_UPPER': nan,
 'WRITPROG_M': 2.0,
 'WRITPROG_MOBN': 2.2,
 'WRITPROG_MOBN_LOWER': -0.1,
 'WRITPROG_MOBN_UPPER': 4.5,
 'WRITPROG_M_LOWER': -0.8,
 'WRITPROG_M_UPPER': 4.8,
 'WRITPROG_NotFSM6CLA1A': 3.6,
 'WRITPROG_NotFSM6CLA1A_LOWER': 0.5,
 'WRITPROG_NotFSM6CLA1A_UPPER': 6.7,
 'WRITPROG_UPPER': 4.5,
 '_id': ObjectId('5b0b0e900fd01f068e576ef4')}

In [52]:
k_df = pd.DataFrame(list(ks2.find({'GPS_AVERAGE_L': {'$gte': 0}},['NFTYPE'])))

In [55]:
k_df['NFTYPE', 'GPS_AVERAGE']

KeyError: ('NFTYPE', 'GPS_AVERAGE')

# Cleanup/remove the database
<a name="cleanup"></a>

Uncomment the lines below to remove the MongoDB created in the investigation.

In [21]:
# uncomment to remove the database if needed
# client.drop_database('schools_db')
# client.database_names()