# SQL DDL

In this Notebook you will create and populate the `patient` table with the sample data described 
in the module text, and then investigate constraint definition and enforcement by SQL.

Enable access to the PostgreSQL database engine via SQL cell magic.

In [ ]:
%load_ext sql
%sql postgresql://test:test@localhost:5432/tm351test

Create and populate the `patient` table with the sample data described in the module text.

In [ ]:
%%sql
DROP TABLE IF EXISTS patient CASCADE;

CREATE TABLE patient (
  patient_id CHAR(4) NOT NULL
    CHECK (patient_id SIMILAR TO 'p[0-9][0-9][0-9]'),
  patient_name VARCHAR(20) NOT NULL,
  date_of_birth DATE NOT NULL,
  gender CHAR(1) NOT NULL
    CHECK (gender = 'F' OR gender = 'M'),
  height DECIMAL(4,1)
    CHECK (height > 0),
  weight DECIMAL(4,1)
    CHECK (weight > 0),
 PRIMARY KEY (patient_id)
 );

INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p001', 'Thornton', '1980-01-22', 'F', 162.3, 71.6);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p007', 'Tennent', '1980-04-01', 'M', 176.8, 70.9);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p008', 'James', '1980-07-08', 'M', 167.9, 70.5);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p009', 'Kay', '1980-09-25', 'F', 164.7, 53.2);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p015', 'Harris', '1980-12-04', 'M', 180.6, 64.3);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p031', 'Rubinstein', '1980-12-23', 'F', NULL, NULL);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p037', 'Boswell', '1981-06-11', 'F', NULL, NULL);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p038', 'Ming', '1981-09-23', 'M', 186.3, 85.4);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p039', 'Maher', '1981-10-09', 'F', 161.9, 73.0);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p068', 'Monroe', '1981-10-21', 'F', 165.0, 62.6);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p071', 'Harris', '1981-12-12', 'M', 186.3, 76.7);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p078', 'Hunt', '1982-02-25', 'M', 179.9, 74.3);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p079', 'Dixon', '1982-05-05', 'F', 163.9, 56.5);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p080', 'Bell', '1982-06-11', 'F', 171.3, 49.2);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p087', 'Reed', '1982-06-14', 'F', 160.0, 59.1);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p088', 'Boswell', '1982-08-23', 'M', 168.4, 91.4);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p089', 'Jarvis', '1982-11-09', 'F', 172.9, 53.4);

In [ ]:
%%sql
SELECT * 
FROM patient
ORDER BY patient_id;

## Information Schema

Relational database management systems maintain a **data dictionary** called the 
[**System Catalogue**](http://www.postgresql.org/docs/9.3/static/catalogs.html) which stores **metadata**, such as 
data about tables, columns and constraints.

The SQL Standard specifies a uniform means to access the System Catalogue called the 
[**Information Schema**](http://www.postgresql.org/docs/9.3/static/information-schema.html).

As the Information Schema is a collection of database tables, the metadata can be accessed using SQL `SELECT` statements.

The following SQL `SELECT` statements show some of the metadata that PostgreSQL has recorded about the 
`patient` table we have just created.

[`information_schema.tables`](http://www.postgresql.org/docs/9.3/static/infoschema-tables.html) records metadata 
about database tables.

In [ ]:
%%sql
SELECT * 
FROM information_schema.tables 
WHERE table_name = 'patient';

[`information_schema.columns`](http://www.postgresql.org/docs/9.3/static/infoschema-columns.html) 
records metadata about the columns of database tables.

In [ ]:
%%sql
SELECT * 
FROM information_schema.columns 
WHERE table_name = 'patient';

[`information_schema.table_constraints`](http://www.postgresql.org/docs/9.3/static/infoschema-table-constraints.html) 
records metadata about constraints on a database table.

In [ ]:
%%sql
SELECT * 
FROM information_schema.table_constraints 
WHERE table_name = 'patient';

[`information_schema.check_constraints`](http://www.postgresql.org/docs/9.3/static/infoschema-check-constraints.html) 
records metadata about all `CHECK` and `NOT NULL` constraints.

In [ ]:
%%sql
SELECT * 
FROM information_schema.table_constraints NATURAL JOIN information_schema.check_constraints
WHERE table_name = 'patient';

Note:
    
As the `information_schema.check_constraints` table does not include a `table_name` column it is necessary to 'join' 
it to the `information_schema.table_constraints` table to restrict the resultant table to metadata about the 
`patient` table.

## Activity 1 - Updating the `patient` table

Execute SQL DML statements to:
 1. Register the details of a new female patient whose name is Cramer, who was born on 1 November 1982, 
and has been assigned a patient identifier of 'p098'.
 2. Record the height and weight of this female patient as 169.6 and 74.1, respectively, after she has been registered.
 3. Delete the patient from the database.

In [ ]:
# Try your code here

Solutions can be found in the `09.1.soln SQL DDL` Notebook, 
but please DO attempt the activity yourself before looking at these solutions.

## Activity 2 - Constraints

Execute SQL DML statements to demonstrate that each of the constraints defined in Exercise 9.2 are enforced:
    
 1. `patient_id` takes a value between 'p000' and 'p999'
 2. `patient_name` always has a value
 3. `date_of_birth` always has a valid value
 4. `gender` takes a value of either 'F' or 'M'
 5. `height` and `weight` are either null or > 0

In [ ]:
# Try your code here

Solutions can be found in the `09.1.soln SQL DDL` Notebook, 
but please DO attempt the activity yourself before looking at these solutions.

## Activity 3 - Updating the definition of the `patient` table (optional)

The current definition of the `patient` table will allow patients to be added to the database whose dates of birth 
are in the future. For example, the following SQL `INSERT` statement will add a new row to the `patient` table.

In [ ]:
%%sql
INSERT INTO patient (patient_id,patient_name,date_of_birth,gender)
            VALUES ('p098','Cramer','2026-01-01','F');

Use the [`ALTER TABLE`](http://www.postgresql.org/docs/9.3/static/sql-altertable.html) 
statement to change the definition of the `patient` table by adding a constraint that will 
prevent patients whose dates of birth are in the future being added to the `patient` table.

In [ ]:
# Try your code here

Solutions can be found in the `09.1.soln SQL DDL` Notebook, 
but please DO attempt the activity yourself before looking at these solutions.

## Summary
In this Notebook you have created and populated the `patient` table with the sample data described in the module text, 
and investigated constraint definition and enforcement by SQL.

## What next?
If you are working through this Notebook as part of an inline exercise, return to the module materials now.

If you are working through this set of Notebooks as a whole, move on to `09.2 SQL DML`.