# Sample import of KS2 data into a PostgreSQL database

This creates a new PostgreSQL database and imports the KS2 performance data. During the import, we'll do some data cleaning and reformatting as we go, especially as Postgres is rather particular about the data it imports.

In [1]:
# Import the required libraries

import pandas as pd
import scipy.stats

import psycopg2 as pg
import pandas as pd
import pandas.io.sql as psqlg

import csv

In [2]:
!sudo -u postgres psql -U postgres -c "drop database ema17j"

DROP DATABASE

In [3]:
!sudo -u postgres psql -U postgres -c "create database ema17j"

CREATE DATABASE

In [4]:
%load_ext sql
%sql postgresql://test:test@localhost:5432/ema17j

'Connected: test@ema17j'

## Import LEA data
This is a list of LEA codes and names, as used in the KS2 performance data.

In [5]:
leas = pd.read_csv('data/2015-2016/la_and_region_codes_meta.csv')
leas.head().T

,0,1,2,3,4
LEA,841,840,805,806,807
LA Name,Darlington,County Durham,Hartlepool,Middlesbrough,Redcar and Cleveland
REGION,1,1,1,1,1
REGION NAME,North East A,North East A,North East A,North East A,North East A

In [6]:
table_string = """
drop table if exists leas cascade;

create table leas (
    lea integer,
    la_name varchar,
    region integer,
    region_name varchar,
    primary key (lea)
);
"""
%sql $table_string

Done.
Done.

[]

Resave the data as a tab-separated variable (TSV) file, which is easier for Postgres to import.

In [7]:
leas.to_csv('data/leas.tsv', index=False, na_rep='NULL', header=False, sep="\t")

In [8]:
# open a connection to the PostgreSQL database tm351test
conn = pg.connect(dbname='ema17j', host='localhost', user='test', password='test', port=5432)
# create a cursor
cur = conn.cursor()

In [9]:
with open('data/leas.tsv') as io:
    cur.copy_from(io, 'leas', sep='\t', null="NULL")
conn.commit()

In [10]:
# Uncomment and run this cell if the import fails.
# conn.rollback()

Check we have all the data by counting the rows in the dataframe and the table.

In [11]:
len(leas)

152

In [12]:
%%sql
SELECT count(*)
FROM leas

1 rows affected.

[(152,)]

Clean up the temporary file.

In [13]:
!rm data/leas.tsv

## KS2 school data
This data requires more processing and cleaning, and being aware of the data types of the columns. This is complicated because Pandas took the decision that if a DataFrame column contains numbers and `na` values, that column must be stored as `float64` values, not `int64` (this is based on NumPy's number type hierarchy).

Luckily, most of the column names and meanings are provided in the `meta` data file.

In [14]:
ks2cols = pd.read_csv('data/2015-2016/ks2_meta.csv')
ks2cols['Field Name'] = ks2cols['Field Name'].apply(lambda r: r.strip(),)
ks2cols

,Column,Field Name,Label/Description
0,1,RECTYPE,Record type (1=mainstream school; 2=special sc...
1,2,ALPHAIND,Alphabetic index
2,3,LEA,Local authority number
3,4,ESTAB,Establishment number
4,5,URN,School unique reference number
5,6,SCHNAME,School/Local authority name
6,7,ADDRESS1,School address (1)
7,8,ADDRESS2,School address (2)
8,9,ADDRESS3,School address (3)
9,10,TOWN,School town
10,11,PCODE,School postcode
11,12,TELNUM,School telephone number
12,13,URN_AC,Converter academy: URN
13,14,SCHNAME_AC,Converter academy: name
14,15,OPEN_AC,Converter academy: open date
15,16,NFTYPE,School type
16,17,ICLOSE,Closed Flag
17,18,RELDENOM,Religious denomination
18,19,AGERANGE,Age range
19,20,CONFEXAM,Confirmation flag that core performance inform...
20,21,TAB15,School published in secondary school (key stag...
21,22,TAB1618,School published in school and college (key st...
22,23,TOTPUPS,Total number of pupils (including part-time pu...
23,24,TPUPYEAR,Number of pupils aged 11
24,25,TELIG,Published eligible pupil number
25,26,BELIG,Eligible boys on school roll at time of tests
26,27,GELIG,Eligible girls on school roll at time of tests
27,28,PBELIG,Percentage of eligible boys on school roll at ...
28,29,PGELIG,Percentage of eligible girls on school roll at...
29,30,TKS1AVERAGE,Cohort level key stage 1 average points score
...,...,...,...
229,230,PTGPS_HIGH_M,Percentage of pupils with medium prior attainm...
230,231,PTGPS_HIGH_H,Percentage of pupils with high prior attainmen...
231,232,PTGPS_HIGH_FSM6CLA1A,Percentage of disadvantaged pupils achieving a...
232,233,PTGPS_HIGH_NotFSM6CLA1A,Percentage of non-disadvantaged pupils achievi...
233,234,PTMAT_HIGH_L,Percentage of pupils with low prior attainment...
234,235,PTMAT_HIGH_M,Percentage of pupils with medium prior attainm...
235,236,PTMAT_HIGH_H,Percentage of pupils with high prior attainmen...
236,237,PTMAT_HIGH_FSM6CLA1A,Percentage of disadvantaged pupils achieving a...
237,238,PTMAT_HIGH_NotFSM6CLA1A,Percentage of non-disadvantaged pupils achievi...
238,239,PTWRITTA_HIGH_L,Percentage of pupils with low prior attainment...
239,240,PTWRITTA_HIGH_M,Percentage of pupils with medium prior attainm...
240,241,PTWRITTA_HIGH_H,Percentage of pupils with high prior attainmen...
241,242,PTWRITTA_HIGH_FSM6CLA1A,Percentage of disadvantaged pupils working at ...
242,243,PTWRITTA_HIGH_NotFSM6CLA1A,Percentage of non-disadvantaged pupils working...
243,244,TEALGRP1,Number of eligible pupils with English as firs...
244,245,PTEALGRP1,Percentage of eligible pupils with English as ...
245,246,TEALGRP3,Number of eligible pupils with unclassified la...
246,247,PTEALGRP3,Percentage of eligible pupils with unclassifie...
247,248,TSENELAPK,Number of eligible pupils with SEN without sta...
248,249,PSENELSAPK,Percentage of eligible pupils with SEN without...
249,250,TSENELE,Number of eligible pupils with EHC plan
250,251,PSENELE,Percentage of eligible pupils with EHC plan
251,252,TSENELK,Number of eligible pupils with SEN support
252,253,PSENELK,Percentage of eligible pupils with SEN support
253,254,TSENELST,Number of eligible pupils with SEN (Special Ed...
254,255,PSENELST,Percentage of eligible pupils with SEN (Specia...
255,256,TSENELSAP,Number of eligible pupils with School Action Plus
256,257,PSENELSAP,Percentage of eligible pupils with School Acti...
257,258,SENELN,Number of eligible pupils with SEN (Special Ed...
258,259,PSENELN,Percentage of eligible pupils with SEN (Specia...

Explicitly record the field names that store integers.

In [15]:
int_cols = [c for c in ks2cols['Field Name'] 
            if c.startswith('T')
            if c not in ['TOWN', 'TELNUM', 'TKS1AVERAGE']]
int_cols += ['RECTYPE', 'ALPHAIND', 'LEA', 'ESTAB', 'URN', 'URN_AC', 'ICLOSE']
int_cols += ['READ_AVERAGE', 'GPS_AVERAGE', 'MAT_AVERAGE']

Some columns contain percentages. We'll convert these to floating point numbers on import.

Note that we also need to handle the case of `SUPP` in the data, where exact figures have been suppressed, and `NEW`, where this is a new school with no previous data.

In [16]:
def p2f(x):
    if x.strip('%').isnumeric():
        return float(x.strip('%'))/100
    elif x in ['SUPP', 'NEW', 'LOWCOV', 'NA', '']:
        return 0.0
    else:
        return x

These are the columns to try to convert from percentages. Note that we can be generous here, as columns like `PCODE` (postcode) will return the original value if the conversion fails.

In [17]:
percent_cols = [f for f in ks2cols['Field Name'] if f.startswith('P')]
percent_cols += ['WRITCOV', 'MATCOV', 'READCOV'] 
percent_cols += ['PTMAT_HIGH', 'PTREAD_HIGH', 'PSENELSAPK', 'PSENELK', 'PTGPS_HIGH']
percent_converters = {c: p2f for c in percent_cols}

In [18]:
ks2_df = pd.read_csv('data/2015-2016/england_ks2final.csv', 
                   na_values=['SUPP', 'NEW', 'LOWCOV', 'NA', ''],
                   converters=percent_converters)
ks2_df.head().T

,0,1,2,3,4
RECTYPE,4,5,1,3,1
ALPHAIND,NaN,NaN,53372,NaN,11156
LEA,NaN,NaN,201,201,202
ESTAB,NaN,NaN,3614,NaN,3323
URN,NaN,NaN,100000,NaN,100028
SCHNAME,NaN,NaN,Sir John Cass's Foundation Primary School,City of London,"Christ Church Primary School, Hampstead"
ADDRESS1,NaN,NaN,St James's Passage,NaN,Christ Church Hill
ADDRESS2,NaN,NaN,Duke's Place,NaN,NaN
ADDRESS3,NaN,NaN,NaN,NaN,NaN
TOWN,NaN,NaN,London,NaN,London
PCODE,0,0,EC3A 5DE,0,NW3 1JH
TELNUM,NaN,NaN,0207 2831147,NaN,0207 4351361
URN_AC,NaN,NaN,0,NaN,0
SCHNAME_AC,NaN,NaN,NaN,NaN,NaN
OPEN_AC,NaN,NaN,NaN,NaN,NaN
NFTYPE,NaN,NaN,VA,NaN,VA
ICLOSE,NaN,NaN,0,NaN,0
RELDENOM,NaN,NaN,Church of England,NaN,Church of England
AGERANGE,NaN,NaN,3-11,NaN,4-11
CONFEXAM,NaN,NaN,NaN,NaN,NaN
TAB15,NaN,NaN,0,NaN,0
TAB1618,NaN,NaN,0,NaN,0
TOTPUPS,4.49185e+06,4.40636e+06,250,250,181
TPUPYEAR,592719,585953,28,28,23
TELIG,592268,586172,28,28,21
BELIG,302432,299318,16,16,16
GELIG,289836,286854,12,12,5
PBELIG,0.51,0.51,0.57,0.57,0.76
PGELIG,0.49,0.49,0.43,0.43,0.24
TKS1AVERAGE,15.6,15.6,16,16,16.7
...,...,...,...,...,...
PTGPS_HIGH_M,0.12,0.12,0.15,0.15,0.33
PTGPS_HIGH_H,0.55,0.55,0.33,0.33,0.83
PTGPS_HIGH_FSM6CLA1A,0.14,0.14,0,0,0
PTGPS_HIGH_NotFSM6CLA1A,0.27,0.27,0.31,0.31,0
PTMAT_HIGH_L,0.01,0.01,0,0,0
PTMAT_HIGH_M,0.07,0.07,0.15,0.15,0.25
PTMAT_HIGH_H,0.43,0.43,0.33,0.33,0.83
PTMAT_HIGH_FSM6CLA1A,0.09,0.09,0.08,0.08,0
PTMAT_HIGH_NotFSM6CLA1A,0.2,0.2,0.25,0.25,0
PTWRITTA_HIGH_L,0,0,0,0,0
PTWRITTA_HIGH_M,0.06,0.06,0.05,0.05,0.33
PTWRITTA_HIGH_H,0.39,0.39,0.5,0.5,0.83
PTWRITTA_HIGH_FSM6CLA1A,0.08,0.08,0,0,0
PTWRITTA_HIGH_NotFSM6CLA1A,0.18,0.18,0.25,0.25,0
TEALGRP1,472757,472288,10,10,7
PTEALGRP1,0.8,0.81,0.36,0.36,0.33
TEALGRP3,7520,1931,0,0,0
PTEALGRP3,0.01,0,0,0,0
TSENELAPK,NaN,NaN,5,NaN,2
PSENELSAPK,0.14,0.15,0.18,0.18,0.1
TSENELE,NaN,NaN,0,NaN,0
PSENELE,0.01,0.01,0,0,0
TSENELK,NaN,NaN,5,NaN,2
PSENELK,0.14,0.15,0.18,0.18,0.1
TSENELST,NaN,NaN,0,NaN,0
PSENELST,0.02,0.02,0,0,0
TSENELSAP,NaN,NaN,0,NaN,0
PSENELSAP,0,0,0,0,0
SENELN,NaN,NaN,0,NaN,0
PSENELN,0,0,0,0,0

Drop the summary rows, keeping just the rows for mainstream and special schools.

In [19]:
ks2_df = ks2_df[(ks2_df['RECTYPE'] == 1) | (ks2_df['RECTYPE'] == 2)]

Convert everything to numbers, if possible.

In [20]:
ks2_df = ks2_df.apply(pd.to_numeric, errors='ignore')

Export the data to the tab-separated variable file.

In [21]:
ks2_df.to_csv('data/ks2.tsv', index=False, na_rep='NULL', header=False, sep="\t")

Manually fix the floating-point numbers in the file, converting numbers of form `something.0` to drop the trailing `.0`. We need to do this because Pandas thinks some columns with `na` values are floats, but we know they're `int`s and they'll be stored in Postgres as `int`s.

In [22]:
!sed -i -e 's/\.0\t/\t/g' data/ks2.tsv

Build the list of field names and types from the DataFrame columns.

In [23]:
pg_fields = []
for c in ks2_df.columns:
    col = c.lower()
    if c in int_cols:
        col += ' integer'
    elif ks2_df[c].dtype == np.int64:
        col += ' integer'
    elif ks2_df[c].dtype == np.float64:
        col += ' double precision'
    else:
        col += ' varchar'
    pg_fields += [col]
pg_fields

['rectype integer',
 'alphaind integer',
 'lea integer',
 'estab integer',
 'urn integer',
 'schname varchar',
 'address1 varchar',
 'address2 varchar',
 'address3 varchar',
 'town varchar',
 'pcode varchar',
 'telnum varchar',
 'urn_ac integer',
 'schname_ac varchar',
 'open_ac double precision',
 'nftype varchar',
 'iclose integer',
 'reldenom varchar',
 'agerange varchar',
 'confexam varchar',
 'tab15 integer',
 'tab1618 integer',
 'totpups integer',
 'tpupyear integer',
 'telig integer',
 'belig double precision',
 'gelig double precision',
 'pbelig double precision',
 'pgelig double precision',
 'tks1average double precision',
 'tks1group_l integer',
 'ptks1group_l double precision',
 'tks1group_m integer',
 'ptks1group_m double precision',
 'tks1group_h integer',
 'ptks1group_h double precision',
 'tks1group_na integer',
 'ptks1group_na double precision',
 'tfsm6cla1a integer',
 'ptfsm6cla1a double precision',
 'tnotfsm6cla1a integer',
 'ptnotfsm6cla1a double precision',
 'tealgrp2 integer',
 'ptealgrp2 double precision',
 'tmobn integer',
 'ptmobn double precision',
 'tsenelse integer',
 'psenelse double precision',
 'ptrwm_exp double precision',
 'ptrwm_high double precision',
 'readprog double precision',
 'readprog_lower double precision',
 'readprog_upper double precision',
 'readcov double precision',
 'writprog double precision',
 'writprog_lower double precision',
 'writprog_upper double precision',
 'writcov double precision',
 'matprog double precision',
 'matprog_lower double precision',
 'matprog_upper double precision',
 'matcov double precision',
 'ptread_exp double precision',
 'ptread_high double precision',
 'ptread_at double precision',
 'read_average integer',
 'ptgps_exp double precision',
 'ptgps_high double precision',
 'ptgps_at double precision',
 'gps_average integer',
 'ptmat_exp double precision',
 'ptmat_high double precision',
 'ptmat_at double precision',
 'mat_average integer',
 'ptwritta_exp double precision',
 'ptwritta_high double precision',
 'ptwritta_wts double precision',
 'ptwritta_ad double precision',
 'ptscita_exp double precision',
 'ptscita_ad double precision',
 'ptreadta_exp double precision',
 'ptreadta_ad double precision',
 'ptmatta_exp double precision',
 'ptmatta_ad double precision',
 'ptrwm_exp_b double precision',
 'ptrwm_exp_g double precision',
 'ptrwm_exp_l double precision',
 'ptrwm_exp_m double precision',
 'ptrwm_exp_h double precision',
 'ptrwm_exp_fsm6cla1a double precision',
 'ptrwm_exp_notfsm6cla1a double precision',
 'diffn_rwm_exp double precision',
 'ptrwm_exp_eal double precision',
 'ptrwm_exp_mobn double precision',
 'ptrwm_high_b double precision',
 'ptrwm_high_g double precision',
 'ptrwm_high_l double precision',
 'ptrwm_high_m double precision',
 'ptrwm_high_h double precision',
 'ptrwm_high_fsm6cla1a double precision',
 'ptrwm_high_notfsm6cla1a double precision',
 'diffn_rwm_high double precision',
 'ptrwm_high_eal double precision',
 'ptrwm_high_mobn double precision',
 'readprog_b double precision',
 'readprog_b_lower double precision',
 'readprog_b_upper double precision',
 'readprog_g double precision',
 'readprog_g_lower double precision',
 'readprog_g_upper double precision',
 'readprog_l double precision',
 'readprog_l_lower double precision',
 'readprog_l_upper double precision',
 'readprog_m double precision',
 'readprog_m_lower double precision',
 'readprog_m_upper double precision',
 'readprog_h double precision',
 'readprog_h_lower double precision',
 'readprog_h_upper double precision',
 'readprog_fsm6cla1a double precision',
 'readprog_fsm6cla1a_lower double precision',
 'readprog_fsm6cla1a_upper double precision',
 'readprog_notfsm6cla1a double precision',
 'readprog_notfsm6cla1a_lower double precision',
 'readprog_notfsm6cla1a_upper double precision',
 'diffn_readprog double precision',
 'readprog_eal double precision',
 'readprog_eal_lower double precision',
 'readprog_eal_upper double precision',
 'readprog_mobn double precision',
 'readprog_mobn_lower double precision',
 'readprog_mobn_upper double precision',
 'writprog_b double precision',
 'writprog_b_lower double precision',
 'writprog_b_upper double precision',
 'writprog_g double precision',
 'writprog_g_lower double precision',
 'writprog_g_upper double precision',
 'writprog_l double precision',
 'writprog_l_lower double precision',
 'writprog_l_upper double precision',
 'writprog_m double precision',
 'writprog_m_lower double precision',
 'writprog_m_upper double precision',
 'writprog_h double precision',
 'writprog_h_lower double precision',
 'writprog_h_upper double precision',
 'writprog_fsm6cla1a double precision',
 'writprog_fsm6cla1a_lower double precision',
 'writprog_fsm6cla1a_upper double precision',
 'writprog_notfsm6cla1a double precision',
 'writprog_notfsm6cla1a_lower double precision',
 'writprog_notfsm6cla1a_upper double precision',
 'diffn_writprog double precision',
 'writprog_eal double precision',
 'writprog_eal_lower double precision',
 'writprog_eal_upper double precision',
 'writprog_mobn double precision',
 'writprog_mobn_lower double precision',
 'writprog_mobn_upper double precision',
 'matprog_b double precision',
 'matprog_b_lower double precision',
 'matprog_b_upper double precision',
 'matprog_g double precision',
 'matprog_g_lower double precision',
 'matprog_g_upper double precision',
 'matprog_l double precision',
 'matprog_l_lower double precision',
 'matprog_l_upper double precision',
 'matprog_m double precision',
 'matprog_m_lower double precision',
 'matprog_m_upper double precision',
 'matprog_h double precision',
 'matprog_h_lower double precision',
 'matprog_h_upper double precision',
 'matprog_fsm6cla1a double precision',
 'matprog_fsm6cla1a_lower double precision',
 'matprog_fsm6cla1a_upper double precision',
 'matprog_notfsm6cla1a double precision',
 'matprog_notfsm6cla1a_lower double precision',
 'matprog_notfsm6cla1a_upper double precision',
 'diffn_matprog double precision',
 'matprog_eal double precision',
 'matprog_eal_lower double precision',
 'matprog_eal_upper double precision',
 'matprog_mobn double precision',
 'matprog_mobn_lower double precision',
 'matprog_mobn_upper double precision',
 'read_average_l double precision',
 'read_average_m double precision',
 'read_average_h double precision',
 'read_average_fsm6cla1a double precision',
 'read_average_notfsm6cla1a double precision',
 'mat_average_l double precision',
 'mat_average_m double precision',
 'mat_average_h double precision',
 'mat_average_fsm6cla1a double precision',
 'mat_average_notfsm6cla1a double precision',
 'gps_average_l double precision',
 'gps_average_m double precision',
 'gps_average_h double precision',
 'gps_average_fsm6cla1a double precision',
 'gps_average_notfsm6cla1a double precision',
 'ptread_exp_l double precision',
 'ptread_exp_m double precision',
 'ptread_exp_h double precision',
 'ptread_exp_fsm6cla1a double precision',
 'ptread_exp_notfsm6cla1a double precision',
 'ptgps_exp_l double precision',
 'ptgps_exp_m double precision',
 'ptgps_exp_h double precision',
 'ptgps_exp_fsm6cla1a double precision',
 'ptgps_exp_notfsm6cla1a double precision',
 'ptmat_exp_l double precision',
 'ptmat_exp_m double precision',
 'ptmat_exp_h double precision',
 'ptmat_exp_fsm6cla1a double precision',
 'ptmat_exp_notfsm6cla1a double precision',
 'ptwritta_exp_l double precision',
 'ptwritta_exp_m double precision',
 'ptwritta_exp_h double precision',
 'ptwritta_exp_fsm6cla1a double precision',
 'ptwritta_exp_notfsm6cla1a double precision',
 'ptread_high_l double precision',
 'ptread_high_m double precision',
 'ptread_high_h double precision',
 'ptread_high_fsm6cla1a double precision',
 'ptread_high_notfsm6cla1a double precision',
 'ptgps_high_l double precision',
 'ptgps_high_m double precision',
 'ptgps_high_h double precision',
 'ptgps_high_fsm6cla1a double precision',
 'ptgps_high_notfsm6cla1a double precision',
 'ptmat_high_l double precision',
 'ptmat_high_m double precision',
 'ptmat_high_h double precision',
 'ptmat_high_fsm6cla1a double precision',
 'ptmat_high_notfsm6cla1a double precision',
 'ptwritta_high_l double precision',
 'ptwritta_high_m double precision',
 'ptwritta_high_h double precision',
 'ptwritta_high_fsm6cla1a double precision',
 'ptwritta_high_notfsm6cla1a double precision',
 'tealgrp1 integer',
 'ptealgrp1 double precision',
 'tealgrp3 integer',
 'ptealgrp3 double precision',
 'tsenelapk integer',
 'psenelsapk double precision',
 'tsenele integer',
 'psenele double precision',
 'tsenelk integer',
 'psenelk double precision',
 'tsenelst integer',
 'psenelst double precision',
 'tsenelsap integer',
 'psenelsap double precision',
 'seneln double precision',
 'pseneln double precision']

Create the table.

In [24]:
table_string = """
drop table if exists ks2;

create table ks2 (
    {},
    primary key (urn),
    foreign key (lea) references leas(lea)
);
""".format(', '.join(pg_fields))
%sql $table_string

Done.
Done.

[]

In [25]:
%%sql
delete FROM ks2

0 rows affected.

[]

Import the data.

In [26]:
with open('data/ks2.tsv') as io:
    cur.copy_from(io, 'ks2', sep='\t', null="NULL")
conn.commit()

In [27]:
# Uncomment and run the line below if the import fails
# conn.rollback()

Check we have all the data by counting the rows in the dataframe and the table.

In [28]:
len(ks2_df)

16162

In [29]:
%%sql
SELECT count(*)
FROM ks2

1 rows affected.

[(16162,)]

Clean up the temporary file.

In [30]:
!rm data/ks2.tsv

# Using the database
You don't need to re-import the data into the database every time you want to use it. Instead, use these commands to connect to the database from a new notebook.

In [31]:
import pandas as pd
import scipy.stats

import psycopg2 as pg
import pandas.io.sql as psqlg

In [32]:
%load_ext sql
%sql postgresql://test:test@localhost:5432/ema17j

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: test@ema17j'

In [33]:
# open a connection to the PostgreSQL database tm351test
conn = pg.connect(dbname='ema17j', host='localhost', user='test', password='test', port=5432)
# create a cursor
cur = conn.cursor()

# Example queries
Find some schools

In [34]:
%%sql
SELECT URN, SCHNAME
FROM ks2
limit 10

10 rows affected.

[(100000, "Sir John Cass's Foundation Primary School"),
 (100028, 'Christ Church Primary School, Hampstead'),
 (100029, 'Christ Church School'),
 (130342, 'Christopher Hatton Primary School'),
 (100013, 'Edith Neville Primary School'),
 (100027, 'Eleanor Palmer Primary School'),
 (100030, 'Emmanuel Church of England Primary School'),
 (139837, 'Abacus Belsize Primary School'),
 (100026, "Fitzjohn's Primary School"),
 (100014, 'Fleet Primary School')]

How many schools are there?

In [35]:
%%sql
SELECT COUNT(*)
FROM ks2

1 rows affected.

[(16162,)]

How many schools are there with data on eligible pupils?

In [36]:
%%sql
SELECT COUNT(*)
FROM ks2
WHERE TELIG != FLOAT 'NaN'

1 rows affected.

[(15615,)]

Show some schools and their LEA

In [37]:
%%sql
select urn, schname, ks2.lea, leas.la_name
from ks2, leas
where ks2.lea = leas.lea
limit 10

10 rows affected.

[(100000, "Sir John Cass's Foundation Primary School", 201, 'City of London'),
 (100028, 'Christ Church Primary School, Hampstead', 202, 'Camden'),
 (100029, 'Christ Church School', 202, 'Camden'),
 (130342, 'Christopher Hatton Primary School', 202, 'Camden'),
 (100013, 'Edith Neville Primary School', 202, 'Camden'),
 (100027, 'Eleanor Palmer Primary School', 202, 'Camden'),
 (100030, 'Emmanuel Church of England Primary School', 202, 'Camden'),
 (139837, 'Abacus Belsize Primary School', 202, 'Camden'),
 (100026, "Fitzjohn's Primary School", 202, 'Camden'),
 (100014, 'Fleet Primary School', 202, 'Camden')]