# Data investigation

In [8]:
import pandas as pd
import matplotlib as plot

Have a peak at the two data files

In [9]:
!ls 'Data/Activity4.4datasets/'

QQ223.csv  QQ224.csv

In [10]:
!head 'Data/Activity4.4datasets/QQ223.csv'
!head 'Data/Activity4.4datasets/QQ224.csv'

QQ233,
Student,Mark
P231,58
P452,34
Q2314,3
P21,55
P6573,59
R233,61
R234,55
Q211,14
QQ224,
Student,Mark
P231,66
P452,64
Q2314,5
P21,56
P6573,79
R233,59
R234,50
Q211,19

In [13]:
QQ223_df = pd.read_csv('Data/Activity4.4datasets/QQ223.csv', header=1)
QQ223_df[:5]

  Student  Mark
0    P231    58
1    P452    34
2   Q2314     3
3     P21    55
4   P6573    59

In [14]:
QQ224_df = pd.read_csv('Data/Activity4.4datasets/QQ224.csv', header=1)
QQ224_df[:5]

  Student  Mark
0    P231    66
1    P452    64
2   Q2314     5
3     P21    56
4   P6573    79

## Calculate the required statistics for the question
Calculate the Maximum, Minimum, Mean and Median marks

In [18]:
# Maximum
QQ223_df['Mark'].max()

89

In [19]:
# Minimum
QQ223_df['Mark'].min()

3

In [20]:
# Mean
QQ223_df['Mark'].mean()

44.5625

In [22]:
# median
QQ223_df['Mark'].median()

54.5

In [23]:
# Maximum
QQ224_df['Mark'].max()

99

In [24]:
# Minimum
QQ224_df['Mark'].min()

4

In [25]:
# Mean
QQ224_df['Mark'].mean()

58.0625

In [26]:
# median
QQ224_df['Mark'].median()

62.5

## Use the describe method to get some general stats

In [27]:
QQ223_df.describe()

            Mark
count  16.000000
mean   44.562500
std    22.864729
min     3.000000
25%    33.000000
50%    54.500000
75%    59.000000
max    89.000000

In [28]:
QQ224_df.describe()

            Mark
count  16.000000
mean   58.062500
std    28.100934
min     4.000000
25%    54.500000
50%    62.500000
75%    70.000000
max    99.000000